<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<div class="hero-unit" style="display: none;">
	
</div>
<% @posts.each do |post| %>
	<div class="hero-unit">
		<h2><%= post.title %></h2>
		<%= raw post.cut_content %>
		<p><%= link_to 'Читать далее', post_path(post), :class => "btn btn-info btn-small" %></p>
	</div>
<% end %>

<% if can? :create, @posts%>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>
<% end %>
