<!DOCTYPE html>
<html>
<head>
  <title>TestBlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body>
<div class="container">
	<div class="navbar navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			    	<span class="icon-bar"></span>
			    	<span class="icon-bar"></span>
			    	<span class="icon-bar"></span>
			    </a>
		    
		    	<a class="brand" href="#">Blog</a>
		    	
		    	<div class="nav-collapse">
		    		<ul class="nav">

		    			<li><%= link_to 'Home', '/'%></li>
		    			<li class="divider-vertical"></li>
		    			
		    			<li><%= link_to 'About me', '/'%></li>
		    			<li class="divider-vertical"></li>
		    			
		    			<li><%= link_to 'Portfolio', '/'%></li>
		    			<% if admin_signed_in? %>
						  <li class="divider-vertical"></li>
						  <li><%= link_to('Logout', destroy_admin_session_path, :method => :delete) %></li>        
						<% end %>
		    		</ul>
		    		
		    		<form class="navbar-search pull-right">
  						<input type="text" class="search-query" placeholder="Search">
  						<button type="submit" class="btn"><i class="icon-search"></i></button>
					</form>
		        </div>
		        
			</div>	
		</div>
	</div>
	<div class="row">
		<div class="span9">
			<% if not notice.nil?%>
				<div class="alert alert-success">
					<button type="button" class="close" data-dismiss="alert">×</button>
	  				<%= notice %>
				</div>
			<% end %>
			<% if not alert.nil? %>
				<div class="alert alert-error">
					<button type="button" class="close" data-dismiss="alert">×</button>
	  				<%= alert %>
				</div>
			<% end %>
			
			<%= yield %>
			
		</div>
		<div class="span3">
		</div>
	</div>
</div>

</body>
</html>
